<% form_for Registration.new do |registration_form| %>
   <fieldset>
      <legend>Thank you for registering!</legend>
      
      <p>I'll be in touch in the next couple of days.</p>
      
      <p>To help you get the most out of the course, you'll reveive preparatory 
      material and detailed setup instructions.</p>
      
      <p>Contact keith@dancingtext.com or 077 4955 7230 if you have any 
      questions in the meantime.</p>
   </fieldset>
<% end %>