<% form_for Registration.new do |registration_form| %>
   <fieldset>
      <legend>Register Now for early bird discount</legend>
      
      <label>
         <% if flash[:error] %>
            <%= error_message_for flash[:error] %>
         <% else %>
            Register with your email address:</label>
         <% end %>
      </label>
      
      <%= registration_form.text_field :email %>
      <%= submit_tag 'Register' %>
      
      <p>Contact keith@dancingtext.com or 077 4955 7230 for more information.</p>
      
      <p><b>You are welcome to re-take the course FREE any time in the next 3
      months</b> (pending availability).</p>
   </fieldset>
<% end %>
